---
layout: default
---
{% for post in paginator.posts %}
<!-- old home -->
<div class="post-item" style="display:none;">
  <div class="caption wrapper-lg">
    <h2 class="post-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <div class="line line-lg"></div>
    <div class="post-sum">
      <p>{{ post.content | strip_html | truncatewords:20 }}<br>
      <!-- <p>{{ post.content | truncatewords:20 }}<br> -->
    </div>
    <div class="text-muted">
      {% if post.author %}<i class="fa fa-user icon-muted"></i> by <a href="https://github.com/{{ site.github_username }}" class="m-r-sm">{{ post.author }}</a>{% endif %}
      <i class="fa fa-clock-o icon-muted"></i> {{ post.date | date: "%b %-d, %Y" }}
      {% if post.meta %}<a href="#" class="m-l-sm"><i class="fa fa-comment-o icon-muted"></i> {{ post.meta }}{% endif %}
    </div>
  </div>
</div>
{% endfor %}

<section class="panel panel-default portlet-item">
  <header class="panel-heading"><strong>Article List</strong></header>
  <section class="panel-body">
    {% for post in paginator.posts %}
      {% include list_post.html %}
    {% endfor %}
  </section>
</section>
{% include pagination.html %}
