<h5 class="font-semibold">Categories</h5>
<div class="line line-dashed"></div>
<ul class="list-unstyled">
  {% for category in site.categories %}
    {% assign category_folder = category | first | slugize %}
    {% assign category_name = category | first | capitalize %}
    {% if category_folder != category_name %}
      <li>
        <a href="/categories/{{ category_folder }}/" class="dk">
          <span class="badge pull-right">{{ category | last | size }}</span>
          {{ category_name }}
        </a>
      </li>
      <li class="line"></li>
    {% endif %}
  {% endfor %}
</ul>
