 <div class="pull-left">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    {% if post.tags contains 'terminal' %}
      <i class="fa fa-terminal fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'editor' %}
      <i class="fa fa-edit fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'refactoring' %}
      <i class="fa fa-leaf fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'testing' %}
      <i class="fa fa-magic fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'git' %}
      <i class="fa fa-github fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'mac' %}
      <i class="fa fa-apple fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'api' %}
      <i class="fa fa-adn fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'metaprogramming' %}
      <i class="fa fa-flask fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'learningnote' %}
      <i class="fa fa-trophy fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'helper' %}
      <i class="fa fa-cutlery fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'javascript' %}
      <i class="fa fa-rocket fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'css' %}
      <i class="fa fa-css3 fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'html' %}
      <i class="fa fa-html5 fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'tip' %}
      <i class="fa fa-lightbulb-o fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'server' %}
      <i class="fa fa-archive fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'time' %}
      <i class="fa fa-clock-o fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'codewars' %}
      <i class="fa fa-trophy fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'caching' %}
      <i class="fa fa-truck fa-stack-1x text-white"></i>
    {% endif %}
  </span>
</div>
