@media (min-width: 1200px) {
/*  .container {
    width: 99%;
  }*/
}

.post-item .post-title a {
  color: #2F2F2F;
}

.post-item .post-sum {
  color: #2F2F2F;
  font-size: 18px;
  line-height: 1.6em;
}

.post-item .post-sum p,
.post-item .post-sum ol,
.post-item .post-sum ul { margin: 1.6em 0; }
.post-sum h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 0.6em;
  margin: 1.6em 0;
  border-bottom: 1px solid #D9D9D9;
}
.post-sum h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 0.6em;
  margin: 1.6em 0;
  border-bottom: 1px dashed rgb(232, 232, 232);
}
.post-sum h4 {
  margin: 1.2em 0;
  font-weight: bold;
}

.post-item .post-sum strong {
  color: #fb6b5b;
}
.post-item .post-sum a:link { text-decoration: underline; }
.post-item .post-sum a:hover { text-decoration: none; }
.post-sum p img { max-width: 100%; }

.pagination > li > a, .pagination > li > span { color: rgb(142, 193, 101); }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: rgb(142, 193, 101);
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: rgb(142, 193, 101);
  border-color: rgb(142, 193, 101);
}

.img-circle {
  border: 1px solid #CCC;
}
.progress-xxs {
  height: 1px;
}
