---
layout: default
---
<div class="post-item">
  <div class="caption wrapper-lg">
    <h2 class="post-title"><a href="#">{{ page.title }}</a></h2>
    <div class="line line-lg"></div>
    <div class="post-sum">
      {{ content }}
    </div>
    <div class="line line-lg"></div>
    <div class="text-muted">
      {% if page.author %}<i class="fa fa-user icon-muted"></i> by <a href="https://github.com/{{ site.github_username }}" class="m-r-sm">{{ page.author }}</a>{% endif %}
      <i class="fa fa-clock-o icon-muted"></i> {{ page.date | date: "%b %-d, %Y" }}
      {% if page.meta %}<a href="#" class="m-l-sm"><i class="fa fa-comment-o icon-muted"></i> {{ page.meta }}{% endif %}
    </div>
  </div>
</div>

